---
title: Acerca de Nosotros - Médica Santa Carmen
---

<%= stylesheet_link_tag 'about-us' %>

<%= partial "header" %>

<div id="fullpage" class="about-main-div">
	<div class="about-video-cont">
		<div class="flex-video vimeo widescreen">			
			<iframe class="vimeo-MSC" id="vimeo_player" src="https://player.vimeo.com/video/89152251?autoplay=1&loop=1&title=0&byline=0&portrait=0" width="1550" height="982" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
		<div class="about-video-title">
			<p><b>"VIVIR VIDA" Documental</b><br>TEASER OFICIAL 2014</p>
		</div>
<!-- 		<div class="play-img-cont">
			<%= image_tag "images/Ellipse.png", :class=>"play-img", :id=>"play1" %>
			<%= image_tag "images/Polygon.png", :class=>"play-img", :id=>"play2" %>
		</div> -->
	</div>
	<div class="about-video-text">
		<div class="medicos-text">
			<div class="about-ribbon"></div>
			<div class="medicos-text-2">
				<h1>MÉDICA SANTA CARMEN</h1>
				<p>EMPRESA MEXICANA FUNDADA EN 2011</p>
			</div>
			<p>Nacimos de la necesidad de dar atención integral de calidad y amable a los pacientes con Insuficiencia Renal Crónica o riesgo de tenerla. Es por ello que contamos con profesionales altamente especializados, equipos de última generación e instalaciones especialmente adaptadas para atender a nuestros pacientes</p>
			<p>Nuestras sedes cuentan con las certificaciones <b>ISO 9001</b> y del <b>Consejo de Salubridad General</b> (sólo 1 de cada 10 clínicas en México cuentan con dichas certificaciones). </p>
		</div>
	</div>
	<div class="about-cta-1"></div>
	<div class="about-info">
		<%= image_tag "images/680.png", :class=>"about-info-img" %> 
		<div class="about-info-text-cont">
			<div class="about-info-text">
				<p>Nuestra misión es brindar bienestar de vida a nuestros paciente y sus familiares, <b><i>a través de una atención accesible, afectiva y digna</b></i>. Nos ganamos la confianza de nuestros pacientes al seguir la norma y estándares de calidad internacionales.</p>
				<p>Dentro de nuestros valores destacamos el trabajo en equipo, integridad, calidez, respeto, dignidad, pasión por la mejora, profesionalismo, excelencia y diversión.</p>
			</div>
		</div>
	</div>
	<div class="md-gallery">
		<div class="row expanded small-up-2 medium-up-3 large-up-3">
			<div class="column column-block md-gallery-img-i" id="md-01">
				<%= image_tag "images/517x442.png", :class=>"md-gallery-img" %> 
				<div class="md-gallery-overlay" id="md-01-o">
					<div class="md-gallery-overlay-text">
						<h1>DR. CARLOS ALBERTO <br> SALAZAR FLORES</h1>
						<h2>Angiólogo, Cirujano general</h2>
						<p>Su enfoque ha estado en las várices, trombosis, pie diabético, insuficiencia renal, aneurismas, y colocación de accesos vasculares para quimioterapia o hemodiálisis.</p>
					</div>
				</div>
			</div>
			<div class="column column-block md-gallery-img-i" id="md-02">
				<%= image_tag "images/517x442.png", :class=>"md-gallery-img" %> 
				<div class="md-gallery-overlay" id="md-02-o">
					<div class="md-gallery-overlay-text">
						<h1>DRA. CINTHYA YANET <br> TIJERINA TORRES</h1>
						<h2>Nefróloga, Pediatra</h2>
						<p>Se desempeña como nefróloga pediatra ayudando a sobrellevar problemas de insuficiencia renal crónica, hemodiálisis, y esforzándose para la detección oportuna y prevención de enfermedades.</p>
					</div>
				</div>
			</div>
			<div class="column column-block md-gallery-img-i" id="md-03">
				<%= image_tag "images/517x442.png", :class=>"md-gallery-img" %> 
				<div class="md-gallery-overlay" id="md-03-o">
					<div class="md-gallery-overlay-text">
						<h1>DRA. EMMANUEL SIGFRED <br> VILLALOBOS ARREOLA</h1>
						<h2>Nefrólogo</h2>
						<p>El extenso conocimiento en Medicina Interna y Nefrología no lo detienen al momento de hacer sus explicaciones accesibles y entendibles para sus pacientes. Su experticia está en las terapias de diálisis peritoneal, hemodiálisis y trasplante. </p>
					</div>
				</div>
			</div>
			<div class="column column-block md-gallery-img-i" id="md-04">
				<%= image_tag "images/517x442.png", :class=>"md-gallery-img" %> 
				<div class="md-gallery-overlay" id="md-04-o">
					<div class="md-gallery-overlay-text">
						<h1>DRA. PAMELA <br> VAZQUEZ GUTIERREZ</h1>
						<h2>Nefróloga</h2>
						<p>Actualmente es especialista certificada por el Consejo Mexicano de Nefrología y excelente en su trato con pacientes de sufren de diabetes, hipertensión y otros padecimientos típicos de la insuficiencia renal crónica.</p>
					</div>
				</div>
			</div>
			<div class="column column-block md-gallery-img-i" id="md-05">
				<%= image_tag "images/517x442.png", :class=>"md-gallery-img" %> 
				<div class="md-gallery-overlay" id="md-05-o">
					<div class="md-gallery-overlay-text">
						<h1>DRA. PAMELA <br> VAZQUEZ GUTIERREZ</h1>
						<h2>Nefróloga</h2>
						<p>Actualmente es especialista certificada por el Consejo Mexicano de Nefrología y excelente en su trato con pacientes de sufren de diabetes, hipertensión y otros padecimientos típicos de la insuficiencia renal crónica.</p>
					</div>
				</div>
			</div>
			<div class="column column-block md-gallery-img-i" id="md-06">
				<%= image_tag "images/517x442.png", :class=>"md-gallery-img" %> 
				<div class="md-gallery-overlay" id="md-06-o">
					<div class="md-gallery-overlay-text">
						<h1>DRA. PAMELA <br> VAZQUEZ GUTIERREZ</h1>
						<h2>Nefróloga</h2>
						<p>Actualmente es especialista certificada por el Consejo Mexicano de Nefrología y excelente en su trato con pacientes de sufren de diabetes, hipertensión y otros padecimientos típicos de la insuficiencia renal crónica.</p>
					</div>
				</div>
			</div>
			<div class="column column-block md-gallery-img-i" id="md-07">
				<%= image_tag "images/517x442.png", :class=>"md-gallery-img" %> 
				<div class="md-gallery-overlay" id="md-07-o">
					<div class="md-gallery-overlay-text">
						<h1>DRA. PAMELA <br> VAZQUEZ GUTIERREZ</h1>
						<h2>Nefróloga</h2>
						<p>Actualmente es especialista certificada por el Consejo Mexicano de Nefrología y excelente en su trato con pacientes de sufren de diabetes, hipertensión y otros padecimientos típicos de la insuficiencia renal crónica.</p>
					</div>
				</div>
			</div>
			<div class="column column-block md-gallery-img-i" id="md-08">
				<%= image_tag "images/517x442.png", :class=>"md-gallery-img" %> 
				<div class="md-gallery-overlay" id="md-08-o">
					<div class="md-gallery-overlay-text">
						<h1>DRA. PAMELA <br> VAZQUEZ GUTIERREZ</h1>
						<h2>Nefróloga</h2>
						<p>Actualmente es especialista certificada por el Consejo Mexicano de Nefrología y excelente en su trato con pacientes de sufren de diabetes, hipertensión y otros padecimientos típicos de la insuficiencia renal crónica.</p>
					</div>
				</div>
			</div>
			<div class="large-4 medium-4 small-2 columns md-gallery-img-i" id="md-09">
				<%= image_tag "images/517x442.png", :class=>"md-gallery-img" %> 
				<div class="md-gallery-overlay" id="md-09-o">
					<div class="md-gallery-overlay-text">
						<h1>DRA. PAMELA <br> VAZQUEZ GUTIERREZ</h1>
						<h2>Nefróloga</h2>
						<p>Actualmente es especialista certificada por el Consejo Mexicano de Nefrología y excelente en su trato con pacientes de sufren de diabetes, hipertensión y otros padecimientos típicos de la insuficiencia renal crónica.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="about-cta-2"></div>
</div>

<%= partial "footer" %>
