---
title: Clínicas - Médica Santa Carmen
---

<%= stylesheet_link_tag 'clinicas' %>

<%= partial "header" %>

<div id="fullpage" class="clinicas-main-div">
	<div class="clinicas-info-cont">
		<div class="clinicas-info">
			<%= image_tag "images/Clinicas_sanjuan.jpg", :class=>"clinicas-info-img" %> 
			<div class="clinicas-info-text-cont">
				<div class="clinicas-info-text">
					<h1>SAN JUAN <br> DEL RÍO, QRO</h1>
					<span><p>Constituyentes 157 (Entre Calle Siete y Epigmenio González) Col. Valle de Oro San Juan del Río, Qro. 76800</p></span>
					<h2>Telf:</h2>
					<p>01(800) 681.8155</p>
					<p>(427) 271.3935</p>
				</div>
			</div>
			<div class="clinicas-map">
				<% link_to 'https://www.google.com.mx/maps/place/Medica+Santa+Carmen/@20.406603,-99.988629,17z/data=!3m1!4b1!4m5!3m4!1s0x85d30b5eb243bb27:0xead7ac5863ad5d4e!8m2!3d20.406603!4d-99.986435', :target => "_blank" do %>
					<%= image_tag "images/icon-map.png", :class=>"clinicas-map-img" %> 
				<% end %>
			</div>
		</div>
		<div class="clinicas-info">
			<%= image_tag "images/Clinicas_Jurica.jpg", :class=>"clinicas-info-img" %> 
			<div class="clinicas-info-text-cont clinicas-right">
				<div class="clinicas-info-text clinicas-info-text-left">
					<h1>QUERÉTARO, QRO</h1>
					<span><p>Paseo Jurica 109, Interior 5 (Dentro del Centro Médico Jurica, entre Tabachines y 5 de Febrero) Querétaro, Qro. 76100</p></span>
					<h2>Telf:</h2>
					<p>01(800) 681.8155</p>
					<p>(442) 218.1100</p>
					<p>(442) 218.0282</p>
					<p>(442) 218.1230</p>
				</div>
			</div>
			<div class="clinicas-map map-right">
				<% link_to 'https://www.google.com.mx/maps/place/Medica+Santa+Carmen/@20.647724,-100.43707,17z/data=!3m1!4b1!4m5!3m4!1s0x85d35a7725063635:0x7445b167d4b73b6a!8m2!3d20.647724!4d-100.434876', :target => "_blank" do %>
					<%= image_tag "images/icon-map.png", :class=>"clinicas-map-img" %> 
				<% end %>
			</div>
		</div>
		<div class="clinicas-info">
			<%= image_tag "images/Clinicas_extra.jpg", :class=>"clinicas-info-img" %> 
			<div class="clinicas-info-text-cont">
				<div class="clinicas-info-text">
					<h1 id="C-SMA-h1">SAN MIGUEL <br> DE ALLENDE, GTO</h1>
					<span id="C-SMA-span"><p>Libramiento José Manuel Zavala Zavala 160 (En Plaza del Ángel) Col. Centro (Junto al Hospital H+ SMA) San Miguel de Allende, Gto. 37700</p></span>
					<h2>Telf:</h2>
					<p>01(800) 681.8155</p>
					<p>(415) 120.6333</p>
					<p>(415) 120.6344</p>
				</div>
			</div>
			<div class="clinicas-map">
				<% link_to 'https://www.google.com.mx/maps/place/M%C3%A9dica+Santa+Carmen/@20.9115087,-100.7621928,17z/data=!3m1!4b1!4m5!3m4!1s0x842b504c25a9999f:0x82ca0b13e4f94cd7!8m2!3d20.9115087!4d-100.7600041', :target => "_blank" do %>
					<%= image_tag "images/icon-map.png", :class=>"clinicas-map-img" %> 
				<% end %>
			</div>
		</div>
		<div class="clinicas-info">
			<%= image_tag "images/Clinicas_Lagos.jpg", :class=>"clinicas-info-img" %> 
			<div class="clinicas-info-text-cont clinicas-right">
				<div class="clinicas-info-text clinicas-info-text-left">
					<h1>LAGOS DE <br> MORENO, JAL</h1>
					<span><p>Ave. Tepeyac # 8 loc. 9, Col. El Tepeyac, Lagos de Moreno</p></span>
					<h2>Telf:</h2>
					<p>01(800) 681.8155</p>
					<p>(474) 118.0186</p>
				</div>
			</div>
			<div class="clinicas-map map-right">
				<% link_to 'https://www.google.com.mx/maps/place/Medica+Santa+Carmen/@21.3785926,-101.9231799,17z/data=!3m1!4b1!4m5!3m4!1s0x842bd259a9b3a88b:0xf4e5ea30644f2bb3!8m2!3d21.3785926!4d-101.9209859', :target => "_blank" do %>
					<%= image_tag "images/icon-map.png", :class=>"clinicas-map-img" %> 
				<% end %>
			</div>
		</div>
		<div class="clinicas-info">
			<%= image_tag "images/Clinicas_Leon.jpg", :class=>"clinicas-info-img" %> 
			<div class="clinicas-info-text-cont">
				<div class="clinicas-info-text">
					<h1 id="C-SMA-h1">LEÓN, GTO</h1>
					<span id="C-SMA-span"><p>Blvd. Juan Jose Torres Landa #1611 Loc. 7, Col. El Tlacuache, León, Gto. 37510</p></span>
					<h2>Telf:</h2>
					<p>01(800) 681.8155</p>
					<p>(477) 761.8444</p>
					<p>(477) 195.6468</p>
				</div>
			</div>
			<div class="clinicas-map">
				<% link_to 'https://www.google.com.mx/maps/place/M%C3%A9dica+Santa+Carmen/@21.0981703,-101.6615259,17z/data=!3m1!4b1!4m5!3m4!1s0x842bbe4b1c8772a3:0x4e0d02de1baa7882!8m2!3d21.0981703!4d-101.6593319', :target => "_blank" do %>
					<%= image_tag "images/icon-map.png", :class=>"clinicas-map-img" %> 
				<% end %>
			</div>
		</div>
	</div>
	<div class="clinicas-contact-cont-">
		<div class="clinicas-contact-title">
			<h1>CONTÁCTANOS</h1>
		</div>
		<div class="row expanded callout data-equalizer contact-form-cont">
			<div class="contact-column-left large-9 medium-9 small-12 columns data-equalizer-watch">
				<p>(*) Campos Obligatorios</p>
				<form action="MAILTO:someone@example.com" method="post" enctype="text/plain">
					<div class="row contact-fields contact-fields-1">
						<input class="name" type="text" name="name" required="" placeholder="Nombre (*)"oninvalid="this.setCustomValidity('Introduzca un nombre válido')">
					</div>	
					<div class="row">
						<div class="large-7 medium-7 contact-fields contact-fields-3 columns">
							<input class="email" type="email" name="email" placeholder="E-mail (*)" required="" oninvalid="this.setCustomValidity('Introduzca un e-mail válido')">
						</div>

						<div class="large-5 medium-5 contact-fields contact-fields-2 columns">
							<input class="phone" type="text" name="phone" placeholder="Teléfono (*)" required="" oninvalid="this.setCustomValidity('Introduzca un teléfono válido')">
						</div>
					</div>
					
					<input class="subject" type="text" name="subject" placeholder="Asunto (*)" required="" oninvalid="this.setCustomValidity('Introduzca un asunto válido')">

					<textarea rows="5" cols="50" placeholder="Mensaje (*)" class="message" type="text" oninvalid="this.setCustomValidity('Introduzca un mensaje')" required=""></textarea>
					<div class="row submit_button">
						<input type="submit" class="submit" value="Enviar">
					</div>
				</form>
			</div>
			<div class="contact-column-right large-3 medium-3 callout columns data-equalizer-watch">
				<%= image_tag "images/350x640.png", :class=>"contact-cta" %> 
			</div>			
		</div>
	</div>

</div>

<%= partial "footer" %>