---
title: Médica Santa Carmen
---

<div id="fullpage" class="main-div">
	<div class="section fp-auto-height">
		<%= partial "header" %>
	<div class="section fp-auto-height">	
		<div class="front-cont" data-anchor="Home">
			<div class="expanded row text-align-center front-cols" data-equalizer>
				<div class="large-8 medium-8 small-12 columns front-col-1" data-equalizer-watch>
					<%= image_tag "images/header_family.jpg", :class=>"front-img" %> 
				</div>
				<div class="large-4 medium-4 small-12 columns front-col-2" data-equalizer-watch>
					<fieldset>
						<h1>¿SABE SI SUS RIÑONES ESTÁN EN RIESGO?</h1>
						<P>En México se estima una prevalencia de <b>1142 personas con Insuficiencia Renal Crónica por cada millón de habitantes</b>. Por eso te ofrecemos un breve formulario para ayudarte a saberlo </P>
						<div class="front-col-link">
						<a href="http://www.medicasantacarmen.com/pages/revisa">¡REVISA TU RIÑÓN!</a>
						</div>
						
					</fieldset>
				</div>
			</div> 
		</div>
	</div>
	<div class="section fp-auto-height">	
		<div class="blog-cont" data-anchor="Blog">
			<div class="expanded row text-align-center">
				<div class="large-4 medium-4 small-12 columns blog-col-text-1 blog-col-text">
					<h1>Tratamiento Integral para garantizar Bienestar de Vida</h1>
					<p>En Médica Santa Carmen somos especialistas en Enfermedades del Riñón con un enfoque integral y humano. Los pacientes que sufren de insuficiencia renal, no sólo requieren un tratamiento que sustituya la función de los riñones, sino también una planificación nutricional y un acompañamiento médico que asegure que el paciente pueda "vivir vida".</p>
				</div>						
				<div class="large-4 medium-4 small-12 columns blog-col-text-2 blog-col-text">
					<h1>La Mejor, Diferente y Especial</h1>
					<p>Cada una de las opciones que ofrecemos para la detección, diagnóstico y tratamiento de las enfermedades renales, están pensadas de manera que agreguen valor a la vida de nuestros pacientes. No sólo tratamos una enfermedad, tratamos a un ser humano que necesita un servicio digno, eficaz y profesional.</p>
				</div>
				<div class="large-4 medium-4 columns blog-col-img">
					<div class="blog-inner-slide">
						<div class="slide">
							<div class="col blog-col-img-cont">
								<%= image_tag "images/blog4.png", :class=>"blog-img-1" %> 
								<div class="blog-img-text">
									<h1>6 Claves que debes saber sobre la Enfermedad Renal</h1>
									<div class="blog-img-text-cont">
										<p>¿Sabe usted cuáles son las causas y cuáles son los síntomas de la IRC? La verdad que son muchos los datos que hay que saber sobre esta enfermedad...</p>
									</div>
									<a href="http://blog.medicasantacarmen.com/6-claves-que-debes-saber-sobre-la-insuficiencia-renal-cr%C3%B3nica">Leer más &#8594</a>
								</div>	
							</div>
							<div class="col blog-col-img-cont">
								<%= image_tag "images/blog3.jpg", :class=>"blog-img-2" %> 	
								<div class="blog-img-text">
									<h1>¿Conoces la diferencia entre la insuficiencia renal crónica y la aguda? Te la explicamos </h1>
									<div class="blog-img-text-cont">
										<p>Para realizar un tratamiento apropiado enfocado en la enfermedad renal, es muy importante determinar, lo antes posible...</p>
									</div>
									<a href="http://blog.medicasantacarmen.com/">Leer más &#8594</a>
								</div>
							</div>
						</div>
						<div class="slide">
							<div class="col blog-col-img-cont">
								<%= image_tag "images/blog1.png", :class=>"blog-img-1" %> 
								<div class="blog-img-text">
									<h1>¿Quieres tener unos riñones sanos? Así debes alimentarte</h1>
									<div class="blog-img-text-cont">
										<p>Nuestro estilo de vida, como lo que comemos y bebemos, afecta el funcionamiento  de nuestros órganos; sin embargo, no se trata de hacer sacrificios...</p>
									</div>
									<a href="http://blog.medicasantacarmen.com/quiere-evitar-la-insuficiencia-renal-cr%C3%B3nica-estos-son-los-alimentos-que-debe-comer">Leer más &#8594</a>
								</div>	
							</div>
							<div class="col blog-col-img-cont">
								<%= image_tag "images/blog5.png", :class=>"blog-img-2" %> 	
								<div class="blog-img-text">
									<h1>¿Diagnosticado con enfermedad renal? Sigue estos pasos</h1>
									<div class="blog-img-text-cont">
										<p>Como toda enfermedad, la insuficiencia renal crónica no es una enfermedad que tenga que afrontar sólo. La noticia en un principio caerá algo fuerte...</p>
									</div>
									<a href="http://blog.medicasantacarmen.com/diagnosticado-con-insuficiencia-renal-algunos-pasos-a-seguir">Leer más &#8594</a>
								</div>
							</div>
						</div>
<!-- 						<div class="slide">
							<div class="col blog-col-img-cont">
								<%= image_tag "images/blog1.png", :class=>"blog-img-1" %> 
								<div class="blog-img-text">
									<h1>¿En qué consiste la insuficiencia renal?</h1>
									<div class="blog-img-text-cont">
										<p>La insuficiencia renal aguda o fracaso renal agudo es un síndrome clínico secundario a múltiples etiologías caracterizados por el brusco deterioro de la función renal...</p>
									</div>
									<a href="http://www.medicasantacarmen.com/articles/view/33">Leer más &#8594</a>
								</div>	
							</div>
							<div class="col blog-col-img-cont">
								<%= image_tag "images/blog2.png", :class=>"blog-img-2" %> 	
								<div class="blog-img-text">
									<h1>Los transplantes de órganos se incrementaron un 3% a nivel mundial</h1>
									<div class="blog-img-text-cont">
										<p>En los últimos cinco años, el número de transplantes se incrementó un 13.5% a nivel mundial, con un ritmo de crecimiento medio anual de 2.7% segú datos de 112...</p>
									</div>
									<a href="http://www.medicasantacarmen.com/articles/view/35">Leer más &#8594</a>
								</div>
							</div>
						</div> -->
					</div>
				</div>
			</div> 
		</div>
	</div>
	<div class="section fp-auto-height">
		<div class="medicos-cont" data-anchor="Medicos">
			<div class="slide">
				<%= image_tag "images/dr-carlos-alberto-salazar-flores.jpg", :class=>"medico-img" %> 	
				<div class="medicos-text">
					<div class="medicos-text-2">
						<h1>DR. CARLOS ALBERTO <br> <b>SALAZAR FLORES</b></h1>
						<p>Angiólogo, Cirujano General</p>
					</div>
					<p>El Dr. Carlos está especializado en el área de Cirugía Vascular y Angiología, en donde se encarga de tratar enfermedades de la circulación sanguínea (venas y arterias), así como la colocación de acceso vasculares para quimioterapia o hemodiálisis. Con el pasar de los años se ha enfocado en mejorar sus técnicas de tratamientos endovasculares (de mínima invasión) para acelerar la recuperación del paciente y asegurar que pueda reintegrarse a su vida cotidiana, minimizando complicaciones.</p>

				</div>
			</div>
<!-- 			<div class="slide">
				<%= image_tag "images/Slider_doctors_02.jpg", :class=>"medico-img" %> 	
				<div class="medicos-text">
					<div class="medicos-text-2">
						<h1>DRA. CINTHYA YANET <br> <b>TIJERINA TORRES</b></h1>
						<p>Nefróloga, Pediatra</p>
					</div>
					<p>La Dra. Cinthya es actualmente el Director Médico de Médica Santa Carmen en su red de clínicas. Se desempeña también como nefróloga pediatra ayudando a los más pequeños a sobrellevar problemas de insuficiencia renal crónica, haciendo rondas de hemodiálisis, y esforzándose para la detección oportuna y prevención de enfermedades. Su trabajo le ha logrado una certificación del Consejo Mexicano de nefrología.</p>
				</div>
			</div> -->
<!-- 			<div class="slide">
				<%= image_tag "images/Slider_doctors_03.jpg", :class=>"medico-img" %> 	
				<div class="medicos-text">
					<div class="medicos-text-2">
						<h1>DR. EMMANUEL SIGFRED <br> <b>VILLALOBOS ARREOLA</b></h1>
						<p>Nefrólogo</p>
					</div>
					<p>El Dr. Emmanuel es uno sólo de mil nefrólogos certificados en todo México. Su exigente preparación en el Instituto Nacional de Cardiología incentivaron su atención al detalle y el trato humano que lo hacen destacarse ante sus pacientes. El extenso conocimiento en Medicina Interna y Nefrología del Dr. Emmanuel no lo detienen al momento de hacer sus explicaciones accesibles y entendibles para sus pacientes. Su experticia está en las terapias de diálisis peritoneal, hemodiálisis y trasplante. </p>
				</div>
			</div> -->
			<div class="slide">
				<%= image_tag "images/dra-pamela-vazquez-gutierrez.jpg", :class=>"medico-img" %> 	
				<div class="medicos-text">
					<div class="medicos-text-2">
						<h1>DRA. PAMELA <br> <b>VAZQUEZ GUTIERREZ</b></h1>
						<p>Nefróloga</p>
					</div>
					<p>Después de egresar como especialista en nefrología del Instituto Nacional de Cardiología “Ignacio Chávez”, la Dra. Pamela también agregó a su formación académica una especialización como médico cirujano de la Universidad La Salle con distinción sobresaliente en el examen Ceneval. Actualmente es especialista certificada por el Consejo Mexicano de Nefrología y excelente en su trato con pacientes que sufren de diabetes, hipertensión y otros padecimientos  típicos de la insuficiencia renal crónica.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="section fp-auto-height">
		<div class="certificados-cont" data-anchor="Certificados">
			<div class="expanded row text-align-center certificados-col">
				<div class="large-2 large-offset-1 medium-2 medium-offset-1 columns certificados-col-i">
					<%= image_tag "images/iso9001.png", :class=>"certificados-img-1" %> 
				</div>
				<div class="large-1 medium-1 large-offset-1 medium-offset-1 columns certificados-col-i">
					<%= image_tag "images/certificado-salubridad.png", :class=>"certificados-img-2" %> 	
				</div>
				<div class="large-4 medium-4 large-offset-2 medium-offset-2 end columns certificados-col-text">
					<div class="certificados-text">
						<p>Contamos con certificaciones internacionales <br> <b>ISO9001 y Consejo de Salubridad General</b></p>
					</div>					
				</div>
			</div>
		</div>
	</div>
	<div class="section fp-auto-height">
		<div class="certificaciones-cont" data-anchor="Certificaciones">
			<%= image_tag "images/Clinics_panel.png", :class=>"certificaciones-img" %> 	
			<div class="certificaciones-text-cont">
				<div class="certificaciones-text">
					<h1>Solo <b>1</b> de cada <b>10</b> clínicas en <b>México</b> cuenta con <b>certificaciones</b> como las nuestras</h1>
				</div>
			</div>
		</div>
	</div>	
	<div class="section fp-auto-height">
		<div class="CTA-cont">
			<div class="expanded row">
				<!--HubSpot Call-to-Action Code -->
				<span class="hs-cta-wrapper" id="hs-cta-wrapper-046aab26-e6d8-4203-8ffc-91cd16e62abf">
				    <span class="hs-cta-node hs-cta-046aab26-e6d8-4203-8ffc-91cd16e62abf" id="hs-cta-046aab26-e6d8-4203-8ffc-91cd16e62abf">
				        <!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]-->
				        <a href="http://cta-redirect.hubspot.com/cta/redirect/2327177/046aab26-e6d8-4203-8ffc-91cd16e62abf"  target="_blank" ><img class="hs-cta-img" id="hs-cta-img-046aab26-e6d8-4203-8ffc-91cd16e62abf" style="border-width:0px;" height="350" width="1520" src="https://no-cache.hubspot.com/cta/default/2327177/046aab26-e6d8-4203-8ffc-91cd16e62abf.png"  alt="Accesos Vasculares"/></a>
				    </span>
				    <script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script>
				    <script type="text/javascript">
				        hbspt.cta.load(2327177, '046aab26-e6d8-4203-8ffc-91cd16e62abf', {});
				    </script>
				</span>
				<!-- end HubSpot Call-to-Action Code -->
			</div>
		</div>
	</div>
	<div class="section fp-auto-height">
		<div class="testimonios-cont" data-anchor="Testimonios">
			<div class="testimonios-bar">
				<div class="expanded row">
					<div class="large-6 medium-6 medium-6 small-6 columns testimonios-bar-col">
						<div class="testimoinos-bar-col-1">
						</div>
					</div>
				</div>
			</div>
			<div class="testimonios-text">
				<p>Seguridad, Experiencia, Resultados Clínicos y Economía.</p>
			</div>
			<div class="testimonios-text-2">
				<h1>NUESTROS PACIENTES SON LOS QUE MEJOR DESCRIBEN EL TRABAJO QUE REALIZAMOS EN MÉDICA SANTA CARMEN.</h1>
			</div>
			<div class="testimonios-inner-slide">
				<div class="slide">
					<div class="testimonios-img-cont">
						<div class="expanded row">
							<div class="large-4 large-offset-2 medium-4 medium-offset-2 columns testimonios-col-1">
								<%= image_tag "images/testimonials_02A.jpg", :class=>"testimonio-img-1" %>
								<div class="testimonio-img-text-i testimonio-img-text-1">
									<h1><b>Bernarda Juárez</b> - 53 años</h1>
									<p>"Desde que comencé mi tratamiento, las enfermeras y los doctores me han tratado mejor que nadie"</p>
								</div>	
							</div>
							<div class="large-4 medium-4 columns end testimonios-col-2">
								<%= image_tag "images/testimonials_01B.jpg", :class=>"testimonio-img-1" %>
								<div class="testimonio-img-text-i testimonio-img-text-2">
									<!-- <h1><b>Nombre del paciente</b> - 00 años</h1> -->
									<h1><b></b></h1>
									<p>"Es alentador venir a una clinica tan bien estruturada y que ofrece un gran servicio a la comunidad"</p>
								</div>	
								<div class="flex-video vimeo widescreen">
									<iframe src="https://player.vimeo.com/video/110166801?title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
									<div class="vid-overlay" data-open="modal-vid-1"></div>
								</div>						
							</div>
						</div>
					</div>
				</div>
				<div class="slide">
					<div class="testimonios-img-cont">
						<div class="expanded row">
							<div class="large-4 large-offset-2 medium-4 medium-offset-2 columns testimonios-col-1">
								<%= image_tag "images/testimonials_01A.jpg", :class=>"testimonio-img-1" %>
<!-- 								<div class="testimonio-img-text-i testimonio-img-text-1">
									<h1><b></b></h1>
									<p>"Es alentador venir a una clinica tan bien estruturada y que ofrece un gran servicio a la comunidad"</p>
								</div>	 -->
							</div>
							<div class="large-4 medium-4 columns end testimonios-col-2">
								<%= image_tag "images/testimonials_04B.jpg", :class=>"testimonio-img-1" %>
								<div class="testimonio-img-text-i testimonio-img-text-2">
									<h1><b>Felipe de Jesús Barcenas</b> - 69 años</h1>
									<p>"Gracias a Médica Santa Carmen he vuelto a confiar en mi tratamiento renal. Siempre estaré muy agradecido"</p>
								</div>	
								<div class="flex-video vimeo widescreen">
									<iframe src="https://player.vimeo.com/video/89152251?title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
									<div class="vid-overlay" data-open="modal-vid-2"></div>		
								</div>		
							</div>
						</div>
					</div>
				</div>
<!-- 				<div class="slide">
					<div class="testimonios-img-cont">
						<div class="expanded row">
							<div class="large-4 large-offset-2 medium-4 medium-offset-2 columns testimonios-col-1">
								<%= image_tag "images/testimonials_04A.jpg", :class=>"testimonio-img-1" %>
								<div class="testimonio-img-text-i testimonio-img-text-1">
									<h1><b>Felipe de Jesús Barcenas</b> - 69 años</h1>
									<p>"Es alentador venir a una clinica tan bien estruturada y que ofrece un gran servicio a la comunidad"</p>
								</div>	
							</div>
							<div class="large-4 medium-4 columns end testimonios-col-2">
								<%= image_tag "images/testimonials_02B.jpg", :class=>"testimonio-img-1" %>
								<div class="testimonio-img-text-i testimonio-img-text-2">
									<h1><b>Bernarda Juárez</b> - 53 años</h1>
									<p>"Es alentador venir a una clinica tan bien estruturada y que ofrece un gran servicio a la comunidad"</p>
								</div>	
								<div class="flex-video vimeo widescreen">
									<iframe src="https://player.vimeo.com/video/90138907?title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
									<div class="vid-overlay" data-open="modal-vid-3"></div>				
								</div>						
							</div>
						</div>
					</div>
				</div> -->
			</div>
			<div class="testimonios-cta">
				<a href="http://www.medicasantacarmen.com/pages/testimonios">CONOCE MÁS AQUÍ &#8594</a>
			</div>
		</div>
	</div> 
	<div class="section fp-auto-height">
		<div class="clinicas-cont" data-anchor="Clinicas">
			<div>
				<div class="row">
				  <div class="large-6 medium-6 small-12 columns clinicas-list-col clinicas-list-1">
				    <ul class="vertical accordion-menu menu" data-accordion-menu>
				      <li class="accordion-navigation">
				        <a href="#" class="accordion-menu-title">Querétaro, Qro</a>
				        <ul class="menu vertical sublevel-1">
				          <li>
				          	<div class="row">
					          	<div class="large-6 text-left columns">
					          		<p>Paseo Jurica 109, Interior 5 (Dentro del Centro Médico Jurica, entre Tabachines y 5 de Febrero) Querétaro, Qro. 76100. </p>
					          	</div>
					          	<div class="large-6 text-left columns">
					          		<p><b>Tel:<br></b>
					          		01(800) 681.8155 <br> 
					          		(442) 218.1100 <br>
					          		(442) 218.0282 <br>
					          		(442) 218.1230 </p>
					          		<div>
										<% link_to 'https://www.google.com.mx/maps/place/Medica+Santa+Carmen/@20.647724,-100.43707,17z/data=!3m1!4b1!4m5!3m4!1s0x85d35a7725063635:0x7445b167d4b73b6a!8m2!3d20.647724!4d-100.434876', :target => "_blank" do %>
											<%= image_tag "images/icon-map.png", :class=>"home-clinicas-map" %> 
										<% end %>
									</div>	
					          	</div>
				          	</div>
				          </li>
				        </ul>
				      </li>
				      <li class="accordion-navigation">
				        <a href="#">San Juan del Río, Qro</a>
				        <ul class="menu vertical sublevel-1">
				          <li>
							<div class="row">
					          	<div class="large-6 text-left columns">
					          		<p>Constituyentes 157 (Entre Calle Siete y Epigmenio González) Col. Valle de Oro San Juan del Río, Qro. 76800.</p>
					          	</div>
					          	<div class="large-6 text-left columns">
					          		<p><b>Tel:<br></b>
					          		01(800) 681.8155 <br> 
					          		(427) 271.3935
					          		</p>
									<div>
										<% link_to 'https://www.google.com.mx/maps/place/Medica+Santa+Carmen/@20.406603,-99.988629,17z/data=!3m1!4b1!4m5!3m4!1s0x85d30b5eb243bb27:0xead7ac5863ad5d4e!8m2!3d20.406603!4d-99.986435', :target => "_blank" do %>
											<%= image_tag "images/icon-map.png", :class=>"home-clinicas-map" %> 
										<% end %>
									</div>
					          	</div>
				          	</div>
				          </li>
				        </ul>
				      </li>
				      <li class="accordion-navigation">
				        <a href="#">San Miguel de Allende, Gto</a>
				        <ul class="menu vertical sublevel-1">
				          <li>
							<div class="row">
					          	<div class="large-6 text-left columns">
					          		<p>Libramiento José Manuel Zavala Zavala 160 (En Plaza del Ángel) Col. Centro (Junto al Hospital H+ SMA) San Miguel de Allende, Gto. 37700.</p>
					          	</div>
					          	<div class="large-6 text-left columns">
					          		<p><b>Tel:<br></b>
					          		01(800) 681.8155 <br> 
					          		(415) 120.6333
					          		</p>
		          					<div>
										<% link_to 'https://www.google.com.mx/maps/place/M%C3%A9dica+Santa+Carmen/@20.9115087,-100.7621928,17z/data=!3m1!4b1!4m5!3m4!1s0x842b504c25a9999f:0x82ca0b13e4f94cd7!8m2!3d20.9115087!4d-100.7600041', :target => "_blank" do %>
											<%= image_tag "images/icon-map.png", :class=>"home-clinicas-map" %> 
										<% end %>
									</div>
					          	</div>
				          	</div>
				          </li>
				        </ul>
				      </li>
<!-- 				      <li class="accordion-navigation">
				        <a href="#">Lagos de Moreno, Jal</a>
				        <ul class="menu vertical sublevel-1">
				          <li>
							<div class="row">
					          	<div class="large-6 text-left columns">
					          		<p>Ave. Tepeyac # 8 loc. 9, Col. El Tepeyac, Lagos de Moreno.</p>
					          	</div>
					          	<div class="large-6 text-left columns">
					          		<p><b>Tel:<br></b>
					          		01(800) 681.8155 <br> 
					          		(474) 118.0186 
					          		</p>
					          	</div>
				          	</div>
				          </li>
				        </ul>
				      </li>
				      <li class="accordion-navigation">
				        <a href="#">León, Gto</a>
				        <ul class="menu vertical sublevel-1">
				          <li>
							<div class="row">
					          	<div class="large-6 text-left columns">
					          		<p>Blvd. Juan Jose Torres Landa # 1611 Loc. 7, Col. El Tlacuache, Gto. 37510</p>
					          	</div>
					          	<div class="large-6 text-left columns">
					          		<p><b>Tel:<br></b>
					          		01(800) 681.8155 <br> 
					          		(477) 761.8444 <br>
									(477) 195.6468
					          		</p>
					          	</div>
				          	</div>
				          </li>
				        </ul>
				      </li> -->
				    </ul>
				  </div>
  				  <div class="large-6 medium-6 small-12 columns clinicas-list-col clinicas-list-2">
				    <ul class="vertical accordion-menu menu clinicas-list" data-accordion-menu>
<!-- 						<li class="accordion-navigation">
				        	<a href="#">Querétaro, Qro</a>
					        <ul class="menu vertical sublevel-1">
					          <li>
					          	<div class="row">
						          	<div class="large-6 text-left columns">
						          		<p>Paseo Jurica 109, Interior 5 (Dentro del Centro Médico Jurica, entre Tabachines y 5 de Febrero) Querétaro, Qro. 76100. </p>
						          	</div>
						          	<div class="large-6 text-left columns">
						          		<p><b>Tel:<br></b>
						          		01(800) 681.8155 <br> 
						          		(442) 218.1100 <br>
						          		(442) 218.0282 <br>
						          		(442) 218.1230
						          		</p>
						          	</div>
					          	</div>
					          </li>
					        </ul>
				      	</li>
						<li class="accordion-navigation">
							<a href="#">San Juan del Río, Qro</a>
							<ul class="menu vertical sublevel-1">
								<li>
									<div class="row">
									  	<div class="large-6 text-left columns">
									  		<p>Constituyentes 157 (Entre Calle Siete y Epigmenio González) Col. Valle de Oro San Juan del Río, Qro. 76800.</p>
									  	</div>
									  	<div class="large-6 text-left columns">
									  		<p><b>Tel:<br></b>
									  		01(800) 681.8155 <br> 
									  		(427) 271.3935
									  		</p>
									  	</div>
									</div>
								</li>
							</ul>
						</li>
						<li class="accordion-navigation">
							<a href="#">San Miguel de Allende, Gto</a>
							<ul class="menu vertical sublevel-1">
								<li>
									<div class="row">
										<div class="large-6 text-left columns">
											<p>Libramiento José Manuel Zavala Zavala 160 (En Plaza del Ángel) Col. Centro (Junto al Hospital H+ SMA) San Miguel de Allende, Gto. 37700.</p>
										</div>
										<div class="large-6 text-left columns">
											<p><b>Tel:<br></b>
											01(800) 681.8155 <br> 
											(415) 120.6333
											</p>
										</div>
									</div>
								</li>
							</ul>	
				      	</li> -->
				      <li class="accordion-navigation">
				        <a href="#">Lagos de Moreno, Jal</a>
				        <ul class="menu vertical sublevel-1">
				          <li>
							<div class="row">
					          	<div class="large-6 text-left columns">
					          		<p>Ave. Tepeyac # 8 loc. 9, Col. El Tepeyac, Lagos de Moreno.</p>
					          	</div>
					          	<div class="large-6 text-left columns">
					          		<p><b>Tel:<br></b>
					          		01(800) 681.8155 <br> 
					          		(474) 118.0186 
					          		</p>
		          					<div>
										<% link_to 'https://www.google.com.mx/maps/place/Medica+Santa+Carmen/@21.3785926,-101.9231799,17z/data=!3m1!4b1!4m5!3m4!1s0x842bd259a9b3a88b:0xf4e5ea30644f2bb3!8m2!3d21.3785926!4d-101.9209859', :target => "_blank" do %>
											<%= image_tag "images/icon-map.png", :class=>"home-clinicas-map" %> 
									<% end %>
								</div>
					          	</div>
				          	</div>
				          </li>
				        </ul>
				      </li>
				      <li class="accordion-navigation">
				        <a href="#">León, Gto</a>
				        <ul class="menu vertical sublevel-1">
				          <li>
							<div class="row">
					          	<div class="large-6 text-left columns">
					          		<p>Blvd. Juan Jose Torres Landa # 1611 Loc. 7, Col. El Tlacuache, Gto. 37510</p>
					          	</div>
					          	<div class="large-6 text-left columns">
					          		<p><b>Tel:<br></b>
					          		01(800) 681.8155 <br> 
					          		(477) 761.8444 <br>
									(477) 195.6468
					          		</p>
					          		<div>
										<% link_to 'https://www.google.com.mx/maps/place/M%C3%A9dica+Santa+Carmen/@21.0981703,-101.6615259,17z/data=!3m1!4b1!4m5!3m4!1s0x842bbe4b1c8772a3:0x4e0d02de1baa7882!8m2!3d21.0981703!4d-101.6593319', :target => "_blank" do %>
											<%= image_tag "images/icon-map.png", :class=>"home-clinicas-map" %> 
										<% end %>
									</div>
					          	</div>
				          	</div>
				          </li>
				        </ul>
				      </li>
				    </ul>
				  </div>
				</div>
			</div>
		</div>
	</div>

	<div class="section fp-auto-height">
		<%= partial "footer" %>
	</div>

	<div class="section fp-auto-height">
		<div class="reveal large modal-vid" data-reset-on-close="true" id="modal-vid-1" data-reveal>
			<div class="flex-video widescreen vimeo">
		   	 	<iframe src="https://player.vimeo.com/video/110166801?autoplay=0&loop=0&title=0&byline=0&portrait=0" width="1080" height="608" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		  	</div>
			<button class="close-button" data-close aria-label="Close modal" type="button">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>	
		<div class="reveal large modal-vid" data-reset-on-close="true" id="modal-vid-2" data-reveal>
			<div class="flex-video widescreen vimeo">
		   	 	<iframe src="https://player.vimeo.com/video/89152251?autoplay=0&loop=0&title=0&byline=0&portrait=0" width="1080" height="608" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		  	</div>
			<button class="close-button" data-close aria-label="Close modal" type="button">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>	
		<div class="reveal large modal-vid" data-reset-on-close="true" id="modal-vid-3" data-reveal>
			<div class="flex-video widescreen vimeo">
		   	 	<iframe src="https://player.vimeo.com/video/90138907?autoplay=0&loop=0&title=0&byline=0&portrait=0" width="1080" height="608" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		  	</div>
			<button class="close-button" data-close aria-label="Close modal" type="button">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>	
	</div>	
</div>